/* Reset de estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    padding-top: 50px;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 999;
}

.container {
    text-align: center; /* Alinha o texto dentro do contêiner */
}

header h1 {
    margin-left: 20px;
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 6px;
}

@media screen and (max-width: 450px) {
    nav ul li {
        margin: 15px 0; /* Adiciona espaço vertical em telas menores */
        display: block; /* Altera para o modo de bloco para garantir que os itens da lista sejam exibidos verticalmente */
    }
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    background-color: #333;
    border: 1px solid;
    border-radius: 11px;
    padding: 0.5rem;
    text-align: center;
    margin-top: 5px;
    transition: all 0.5s ease-out;
}

nav ul li a:hover,
nav ul li a:focus {
    background-color: #fff;
    color: #333;
}

section {
    padding: 20px;
    margin: 50px 0;
    background-color: #fff;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
}

#Contato {
    text-align: center; /* Alinha o conteúdo ao centro horizontalmente */
}

#mensagem {
    display: inline-block; /* Permite que o textarea fique ao lado do label */
    vertical-align: top; /* Faz com que o texto se desloque para baixo */
    margin-top: 5px; /* Adiciona um espaço entre o label e o textarea */
}

.imagem {
    display: block; /* Torna a imagem um bloco para permitir o uso de margens e preenchimentos */
    max-width: 100%; /* Garante que a imagem não ultrapasse o tamanho do contêiner */
    height: auto; /* Permite que a altura seja ajustada automaticamente */
    margin: 0 auto; /* Centraliza horizontalmente a imagem */
}

.slideshow {
    position: relative;
    display: flex;
    align-items: center;
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}