/* Reset de estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    padding-top: 50px;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 999;
}

.container {
    text-align: center; /* Alinha o texto dentro do contêiner */
}

header h1 {
    margin-left: 20px;
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 6px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    background-color: #333;
    border: 1px solid;
    border-radius: 11px;
    padding: 0.5rem;
    text-align: center;
    transition: all 0.5s ease-out;
}

nav ul li a:hover,
nav ul li a:focus {
    background-color: #fff;
    color: #333;
}

section {
    padding: 20px;
    margin: 50px 0;
    background-color: #fff;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
}
